# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
.out/
.next/
build/

# Production
.env
.env.production

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# TypeScript
*.tsbuildinfo

# Yarn v2+
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDEA
.idea/

# MacOS
.DS_Store

# IDEs
*.sw?
*~
.idea
*.sublime-workspace
*.sublime-project

# Optional stylelint cache
.stylelintcache
